.my-header{
    position: absolute;
    top:0;
    left:175px;
    right:0;
    min-width: 800px;
    overflow: auto;
    background-color: #7DBCEA;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}
.ant-layout{
    height: 100%;
}
.my-sider{
    position: absolute;
    left: 0;
    top:0;
    bottom:0;
    width:175px;
    overflow: auto;
}
.my-content{
    position: absolute;
    left: 175px;
    top:82px;
    bottom: 0;
    right:0;
    overflow: auto;
    min-width: 800px;
    padding: 20px;
}